html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	min-height:1024px; 
	min-width:640px;
	color: #777;
}

hr {
	width: 50%;
}

.interface{
	height: 725px;
	margin-top: -66px;
	background-image: url('../img/home2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#intro{
	position: absolute;
	left: 100px;
	top: 224px;
	width: 400px;
	height: 200px;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 3px 3px 10px #888;

}

#promote .col-md-6 img{
	margin-top: 20px;
	width: 90%;
}
#promote h1 {
	font-family: Microsoft Yahei;
	letter-spacing: 3px;
	font-size: 300%;
	margin-top: 80px;
	margin-bottom: 15px;
	color: #555;
}
#promote h3 {
	font-family: Kaiti;
	font-size: 180%;
	color: #666;
}
#promote_sub {
	margin-top: 40px;
	position: relative;
	left: -10px;
}
#promote .col-md-4 img {
	padding-right: 10px;
	width: 60px;
}
#promote span {
	font-size: 120%;
	color: #6e6e6e;
}

.news img{
	display: inline-block;
	margin-left: 60%;
	margin-top: -60px;
}

.news img{
	width: 50px;
}

.news pre{
	text-align: left;
}

.part {
	margin-top: 60px;
	margin-bottom: 60px;
}
.part h3 {
	margin: 20px;
	color: #666;
}