html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100%; 
	width: 100%;
	color: #777
}

body {
	background-image: url(../img/home.jpg);
	background-size: 100%;
}

label {
	color: #666;
}

#register {
	margin-top: 8%;
	display: block;
	box-shadow: 3px 3px 21px rgba(100,100,100,0.1);
	padding: 40px;
	background-image: url(../img/login.png);
}

#register input {
	margin: 7px;
}

#register .btn {
	color: #666;
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 6px; 
	float: right;
}

#register span, #register img {
	position: relative;
	top: 15px;
	left: 20px;
	margin-left: 5px;
}

#register span {
	cursor: pointer;
	color: #777;
}
#register span:hover {
	color: #111;
}